.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem; //6rem padding + -3rem transform
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem; //must have defined dimensions for shape-outside to work
    float: left; //element must be floated for shape-outside to work

    transform: translateX(-3rem) skewX(12deg); //Use transform on clip path elements not margin or padding
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%); //radius
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%); //make element a circle
      border-radius: none;
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden; //Use to fix wired problems with animations
    transition: all 0.5s;
  }

  &__text {
    transform: translateX(12deg);

    @include respond(phone) {
      transform: translateX(0);
    }
  }

  &__caption {
    @include absoluteCenter;
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; //stop transform jitter
  }

  //when the story is on hover, select caption
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  //when the story is on hover, zoom out and blur image
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
